.amount {
  background-color: #1d4044;
  margin: 3vh;
  border-radius: 20px;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tipAmount {
  color: aliceblue;
}

.total {
  color: aliceblue;
}

p {
  margin: 0;
}

button {
  height: 4rem;
  color: #1d4044;
  background-color: #38b2ac;
  border: 2px;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  border-color: #38b2ac;
}

.grid .ten {
  font-size: 2rem;
  color: #38b2ac;
  font-weight: 700;
}
