.calculator {
  margin: 3vh;
  border-radius: 20px;
  padding: 3vh;
  color: #1d4044 !important;
  font-weight: 600;
}

.calculator input {
  color: #1d4044 !important;
  font-weight: 700;
  font-size: 1.3rem;
}

.tip-button {
  width: 12vh;
  height: 5vh;
  background-color: #1d4044 !important;
  color: hsl(0, 0%, 100%) !important;
  font-size: 1.3rem !important;
}

.input {
  width: 100%;
}

.column {
  padding-left: 0 !important;
}
